*{
box-sizing: border-box;
font-family: sans-serif;
margin: 0;
padding: 0;
}

body{
color: #263138;
}

header{

    background-color: #ff9a6c;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 24px;
    padding-bottom: 24px;
}


#inicio {

    display: flex;
    align-items: center;
    gap: 32px;
    padding: 24px 80px 128px 80px;
    position: relative;
}

.botao {

    background-color: #ff9a6c;
    border-radius: 8px;
    color: #ffffff;
    padding: 16px 32px;
    text-decoration: none;
}
.botao-transparente {

    background-color: transparent;
    padding: 16px 32px;
}

#clinica {

    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}

#famacia {

    padding: 64p 80px;
    text-align: center;

}

footer {
display: flex;
background-color: #ff9a6c;
gap: 80px;
padding: 64px 80px;

}

footer nav a {
color: #263138;
display: block;
text-decoration: none;
max-width: 360px;
}









